<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://unpkg.com/lucide@latest"></script>
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div class="content">{% block content %}{% endblock %}</div>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>

</html>