{% extends "base.html" %}
{% block title %}MrPsyghost | Home{% endblock %}

{% block content %}
<div class="name">
    MrPsyghost
    <div id="age"></div>
</div>
<hr>
<div class="personal-projects">
    <div class="projects-title">
        <h1>My Projects</h1>
        <h2>({{ repos|length }})</h2>
    </div>
    {% for repo in repos%}
    <div class="project" onclick="">
        <div class="p-name">{{ repo.name }}</div>
        <div class="p-desc">{{ repo.description or 'No description.' }}</div>
        <div class="p-img">
            <img src="{{ repo.cover_img }}">
        </div>
    </div>
    {% endfor %}
</div>
<hr>
<div class="end">
    <div class="text">
        <i data-lucide="chevron-right"></i> Built with Curiosity. <div class="cursor"></div>
    </div>
    <div class="links">
        <a target="_blank" href="https://github.com/MrPsyghost" title="My Github Profile">github</a>
        <a target="_blank" href="https://www.youtube.com/@MrPsyghost" title="My YouTube Channel">youtube</a>
        <a target="" title="Contact Form coming soon...">email</a>
        <a target="" title="Discord Channel coming soon...">discord</a>
        <a target="_blank" href="https://www.linkedin.com/in/shivay-puri-09358b2b4" title="My LinkedIn Profile">linkedin</a>
    </div>
</div>
{% endblock %}